<div class="banner">{% load static %}
  <div class="banner-content">
    <h1 class="banner-header-text">Find the Best Courses and Amazing Mentor</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis,
      lectus magna fringilla urna, porttitor rhoncus
    </p>
    <div class="search-block">
      <input class="search" type="search" placeholder="Название курса">
      <i class="fa fa-magnifying-glass"></i>
    </div>
    <div class="banner-icons">
      <div>
        <i class="fa-solid fa-clock"></i>
        <span> Life Time Acces</span>
      </div>
      <div>
        <i class="fa-solid fa-user-check"></i>
        <span>Expert Mentor</span>
      </div>
      <div>
        <i class="fa-solid fa-circle-play"></i>
        <span>300K+ Courses</span>
      </div>
    </div>
  </div>
  <div class="banner-preview">
    <img src="{% static 'global/img/banner-preview.webp' %}" alt="banner-img">
  </div>
</div>
