<section class="statistics">
    <div class="statistic">
        <i class="fa-solid fa-video"></i>
        <p class="count">{{ courses_count }}+</p>
        <p>Courses</p>
    </div>
    <div class="statistic">
        <i class="fa-solid fa-users"></i>
        <p class="count">{{ users_count }}+</p>
        <p>Users</p>
    </div>
    <div class="statistic">
        <i class="fa-solid fa-user"></i>
        <p class="count">1000+</p>
        <p>Active Mentor</p>
    </div>
    <div class="statistic">
        <i class="fa-solid fa-flag"></i>
        <p class="count">50</p>
        <p>Countries</p>
    </div>
</section>