{% load static %}
{% load db_math %}
<section class="trends">
    <h2>Trending courses</h2>
    <div class="course-categories">
        {% for category in categories %}
{#            category-btn-active #}
            <a href="?category={{ category.slug }}"
               class="button {% if category.slug == active_category_slug %}
               category-btn-active {% endif %}">
                {{ category.name }}
            </a>
        {% endfor %}
    </div>
    <div class="courses">
        <div class="course-card smooth-scale">
            {% for course in trending_courses %}
                <div class="card-preview">
                    <img src="{{ course.preview_url.url  }}"
                         alt="">
                    <p class="button">{{ course.category.name }}</p>
                </div>
                <div class="card-title">
                    <p class="course-name">{{ course.name }}</p>
                    <p class="course-author">{{ course.author.full_name }}</p>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <span>(2000)</span>
                    </div>
                    <span class="price-inactive">${{ course.price }}</span>
                    <span class="course-price">${{ course.price|calc_disc:course.discount }}</span>
                </div>
            {% endfor %}
        </div>
    </div>
    <p class="category-btn-active more-courses">More Courses</p>
</section>
