{% load static %}
<footer>
  <div class="footer-links">
    <div class="column">
      <img src="{% static 'global/img/Logo-white.svg' %}" alt="logo">
      <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet tristique placerat eleifend aliquam pellentesque
        facilisis ultrices. Imperdiet mus urna egestas at tellus.
      </a>
    </div>
    <div class="column">
      <a>About</a>
      <a>About us</a>
      <a>Courses</a>
      <a>Mentor</a>
      <a>Contact us</a>
    </div>
    <div class="column">
      <a>Support</a>
      <a>Careers</a>
      <a>Help & Support</a>
      <a>Blog</a>
    </div>
    <div class="column">
      <a>Company</a>
      <a>Privacy Policy</a>
      <a>Terms of service</a>
      <a>Code of conduct</a>
    </div>
  </div>
</footer>
